*
!.gitignore

!/categories/
/categories/*
!/categories/category-kids.jpg
!/categories/category-men.jpg
!/categories/category-sports.jpg
!/categories/category-women.jpg

!/hero-banners/
/hero-banners/*
!/hero-banners/hero-flatlay-1.jpg
!/hero-banners/hero-lifestyle-1.jpg

!/products/
/products/*
!/products/black-canvas-1.jpg
!/products/cream-court-1.jpg
!/products/detail-closeup-1.jpg
!/products/detail-closeup-2.jpg
!/products/detail-closeup-3.jpg
!/products/detail-closeup-4.jpg
!/products/grey-closeup-1.jpg
!/products/kids-colorful-1.jpg
!/products/kids-colorful-2.jpg
!/products/kids-colorful-3.jpg
!/products/navy-leather-1.jpg
!/products/pink-blush-1.jpg
!/products/red-sneaker-1.jpg
!/products/rose-dusty-1.jpg
!/products/tan-leather-1.jpg
!/products/white-court-1.jpg
!/products/white-runner-1.jpg
!/products/white-studio-1.jpg
